* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.navbar {
  height: 130px;
}

#banner {
  margin-top: 130px;
}

.carousel-img {
  width: 100%;
}

.carousel-indicators li {
  border-radius: 100%;
  height: 8px;
  width: 8px;
  margin: 0 8px;
}

.coupons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 15px;
  padding-bottom: 10px;
}

.heading-title {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  word-break: break-all;
  color: #666;

  position: relative;
  min-height: 20px;
  margin: 16px 0 32px;
}

.timer {
  text-align: center;
  height: 69px;
}

.card {
  width: 289px;
  height: 385px;
  border-color: transparent;
  margin: 0 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.025);
}

.card img {
  width: 289px;
  height: 289px;
}

.card-info {
  padding: 10px;
}

.obj-name {
  height: 40px;
  overflow: hidden;
  font-weight: 700;
  font-size: 13px;
  color: rgb(102, 102, 102);
  line-height: 20px;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.price-before {
  color: rgb(170, 170, 170);
  font-size: 12px;
  line-height: 1.2;
  text-decoration: line-through;
  margin: 0;
}

.price-after {
  color: rgb(237, 0, 140);
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
}

.card-flex {
  display: flex;
  justify-content: center;
}

#coupon-carousel {
  margin: 0 auto;
  width: 1180px;
}
